.container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 25px;
}

app-todo, app-doing, app-done {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 280px;
}