.todo-title {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.round {
    background-color: #67E2AE;
    width: 15px;
    height: 15px;
    border-radius: 999px;
}

span {
    font-size: 12px;
    color: #828FA3;
    text-transform: uppercase;
    letter-spacing: 2.40px;
    font-weight: 700;
    white-space: nowrap;

}

@media (max-width: 397px) {
    span {
        white-space: pre-wrap;
        display: block;
    }
}